<div class="form-horizontal">
    <h4>Obtener Empleados</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Departamento:</label>
        <div class="col-md-10">
            <input id="department_id" type="text" class="form-control" />
            <br />
            <button id="btnEnviar" onclick="GetEmployees()" class="btn btn-primary btn-sm">Graficar</button>
        </div>
    </div>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>
